<div class="typography">
    <div class="view-h">
        <h1>Заголовок h1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab eveniet, corrupti iure natus
            accusantium quo, aspernatur laboriosam officia repudiandae tenetur sed facere similique
            vero, velit? Ducimus eligendi accusantium neque saepe, iusto, quam similique atque nostrum
            enim sequi ex excepturi repellendus incidunt. Alias a omnis, dicta, repellat libero, eaque
            ea obcaecati mollitia facilis illo totam dolorum eius aut cumque tempora deserunt!</p>
        <h2>Заголовок h2</h2>
        <p>Laborum adipisci a, reiciendis, velit quia, totam doloremque perferendis accusantium quidem
            aut id porro repudiandae ea quos, quaerat ex? Maxime laborum, nemo nam necessitatibus
            ratione omnis libero sint totam deserunt perspiciatis, fugit autem non exercitationem minus.
            Alias omnis, iure voluptatum, tempora earum consectetur soluta vitae illum dignissimos
            aspernatur officia ut quod minus modi sed numquam eligendi fuga, recusandae! Odit,
            dignissimos.</p>
        <h3>Заголовок h3</h3>
        <p>Tempora, itaque consequuntur unde magni, ab alias totam qui est soluta, veniam, sapiente.
            Eligendi magni, quos praesentium optio ut quaerat sint nobis similique ab voluptas, nesciunt
            corporis quae repellendus maiores ratione error magnam rerum blanditiis quidem explicabo
            atque velit dolorum. Placeat hic, laboriosam? Tempore sequi consequuntur, fuga neque eaque
            qui vero debitis aliquid. Facilis iusto quod aliquid, provident inventore, ipsam!</p>
        <h4>Заголовок h4</h4>
        <p>Qui dolor est harum expedita voluptatum, possimus, ipsam tempore maxime, magnam repellendus
            esse. Sunt officia iste numquam nam velit, aspernatur dolorem officiis eligendi totam
            aliquam! Optio possimus aspernatur aliquam qui dicta minus repudiandae distinctio earum.
            Laboriosam eos aut accusantium iste dicta minus ratione consequatur aspernatur doloribus,
            temporibus doloremque earum fugit inventore dolores ipsa modi sed similique, culpa dolore
            cupiditate ullam.</p>
        <h5>Заголовок h5</h5>
        <p>Perspiciatis dolore totam officiis. Earum et eum optio architecto ullam laudantium placeat
            maxime sed, reiciendis delectus dolor veritatis, perferendis quos cupiditate pariatur odio
            vel accusantium itaque sunt voluptates sint ipsam, rem eveniet modi tempora. Eaque
            distinctio enim, ea quisquam facilis illo fuga, maxime quibusdam ut, sed dicta autem cumque
            molestias et eius molestiae nemo mollitia. Cumque dolorum repellendus voluptatibus
            aliquam!</p>
        <h6>Заголовок h6</h6>
        <p>Temporibus est dolor facere quis nisi itaque officia, consequuntur nihil, assumenda atque,
            magni! Eaque quae excepturi perferendis necessitatibus ipsam quibusdam repellat error, dicta
            pariatur quasi doloribus a libero sequi laborum illo, similique minima laudantium cum
            consequatur tempora blanditiis. Debitis velit dolore, voluptate similique. Omnis, assumenda
            nostrum laboriosam enim, provident repudiandae dolorum dicta officiis blanditiis soluta,
            ratione sint suscipit! Quam, quod.</p>
        <hr>
    </div>
    <div class="view-text">
        <h2>Форматирование текста</h2>
        <p>Краткая демонстрация текстовых элементов / теги. Тег <code>&lt;p&gt;</code> определяет
            текстовый абзац(создает новый параграф). Абзац является блочным элементом, всегда начинается
            с новой строки и имеет отсуп до и после себя. Абзац не позволяет вкладывать внутрь себя
            такие элементы как address(информации об авторе), blockquote(блочная цитата),
            table(таблица), также другие абзаци p &gt; p.</p>
        <p>Если вам нужно принудительно перевести строку текста на новую линию, без создания нового
            абзаца и верстикальных отступов между - используйте одинарный тег <code>&lt;br&gt;</code>.
        </p>
        <p>Вы можете отформатировать текст используя такие теги как <code>&lt;i&gt; / &lt;em&gt;</code>,
            <em>чтобы сделать ваш текст наклонным</em>, вы также можете использовать <code>
                &lt;q&gt;</code> -
            <q>строчные цитаты, которые в отличии от блочных, позволяют вложенность внутри абзаца</q>,
            при помощи тегов <code>&lt;b&gt; / &lt;strong&gt;</code> -
            <strong>можно обозначить важный текст жирностью шрифта</strong>, для
            <ins>подчеркивания текста</ins>
            используйте <code>&lt;u&gt; / &lt;ins&gt;</code>, a для
            <del>перечеркивания</del>
            - <code>&lt;del&gt;</code>, Также можно
            <mark>выделить нужную часть текста</mark>
            при помощи тега <code>&lt;mark&gt;</code></p>
        <p>Чтобы превратить ваш текст в гиперссылку, нужно использовать
            <a href="https://webref.ru/html/a" title="https://webref.ru/html/a" target="_blank">тег &lt;a&gt;</a>.
            <br> Также можно использовать специальные теги <code>&lt;sup&gt;</code>
            <sup>Отображает шрифт в виде верхнего индекса</sup> и <code>&lt;sub&gt;</code>
            <sub>Отображает шрифт в виде нижнего индекса</sub>.
            <br>Тег <code>&lt;small&gt;</code>
            <small>уменьшает размер шрифта</small>
        </p>
        <p>Тег <code>&lt;code&gt;</code> предназначен для отображения одной или нескольких строк текста,
            который представляет собой программный код
            <br>
            <small>
                <em>пример:</em>
            </small>
            <br> - чтобы узнать контекст объекта нужно вызвать <code>console.log(this);</code>.
        </p>
        <p>Тег
            <kbd>&lt;kbd&gt;</kbd> используется для обозначения текста, который набирается на клавиатуре
            или для названия клавиш,
            <br>
            <small>
                <em>пример:</em>
            </small>
            <br> - чтобы вызвать
            <em>"Диспетчер задач"</em> нажмите на клавиатуре вместе 3 клавиши -
            <kbd>Ctrl + Alt + Del</kbd>.
        </p>
        <p>Тег
            <samp>&lt;samp&gt;</samp> используется для отображения текста, который является результатом
            вывода компьютерной программы или скрипта,
            <br>
            <small>
                <em>пример:</em>
            </small>
            <br> - в результате провеверки мы определил, что
            <samp>ваш браузер поддерживает JavaScript</samp>
        </p>
        <p>Тег <code>&lt;abbr&gt;</code> указывает, что
            <abbr title="ПС - последовательность символов">ПС</abbr> является аббревиатурой. С помощью
            атрибута дается расшифровка сокращения - <code>title="... ваше описание"</code>, что
            позволяет понимать аббревиатуру тем людям, которые с ней не знакомы. Кроме того,
            <strong>поисковые системы индексируют полнотекстовый вариант сокращения</strong>, что может
            использоваться для повышения рейтинга документа.</p>
        <p>Как правило, когда, в документе, упоминается
            <dfn title="это новый термин">новый термин</dfn>, он выделяется курсивом и дается его
            определение. При использовании этого термина в дальнейшем, он считается уже известным
            читателю. Тег
            <dfn title="тег <dfn>">&lt;dfn&gt;</dfn> применяется для выделения таких терминов при их
            первом появлении в тексте. С помощью атрибута
            <kbd>title</kbd> вы можете дать более подробную расшифровку термина.</p>
        <address>Тег <code>&lt;address&gt;</code> предназначен для хранения информации об авторе(НЕ
            адреса и контакты компании, прочее) и может включать в себя любые элементы HTML вроде
            ссылок, текста, выделений и т.д.
        </address>
        <blockquote>Тег <code>&lt;blockquote&gt;</code> используется для обозначения цитат, длинных
            выписок, афоризмов и прочее, который создается в новом блоке с пробелами до и после.
        </blockquote>
        <pre>Тег &lt;pre&gt; определяет блок предварительно форматированного текста.
	Такой текст отображается обычно моноширинным шрифтом и со всеми пробелами между словами.
		По умолчанию, любое количество пробелов идущих в коде подряд, на веб-странице показывается как один.
	Тег &lt;pre&gt; позволяет обойти эту особенность и отображать текст
		как требуется разработчику.</pre>
        <hr>
    </div>
    <div class="view-list">
        <h2>Списки</h2>
        <h4>Маркированный список</h4>
        <ul>
            <li>
                <a href="#" target="_blank" title="Forforce -агентство цифрового продакшна">
                    Lorem ipsum
                </a> - Lorem ipsum dolor
            </li>
            <li>
                <a href="#">
                    Lorem ipsum dolor sit
                </a> - Lorem ipsum dolor sit amet, consectetur
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit</a>
                - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
                <ul>
                    <li> Lorem ipsum dolor sit
                    </li>
                    <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
                    </li>
                    <li> Lorem ipsum dolor sit amet, consectetur
                        <ul>
                            <li> Повседневная практика показывает, что
                            </li>
                            <li> Повседневная практика показывает, что постоянный количественный рост и
                                сфера
                            </li>
                            <li> Повседневная практика показывает, что постоянный количественный
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <h4>Нумерованный список</h4>
        <ol>
            <li>
                <a href="#" target="_blank" title="Forforce -агентство цифрового продакшна">
                    Lorem ipsum
                </a> - Lorem ipsum dolor
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit </a> - amet, consectetur adipisicing
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit amet, </a> - consectetur adipisicing elit. Velit
            <li>
                <a href="#">Lorem ipsum dolor sit </a> - amet, consectetur adipisicing elit. Velit
                <ol>
                    <li> Lorem ipsum dolor sit
                    </li>
                    <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
                    </li>
                    <li> Lorem ipsum dolor sit amet, consectetur
                        <ol>
                            <li> Повседневная практика показывает, что
                            </li>
                            <li> Повседневная практика показывает, что постоянный количественный рост и
                                сфера
                            </li>
                            <li> Повседневная практика показывает, что постоянный количественный
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
        <h4>Список определений</h4>
        <dl>
            <dt>Что такое Тег?</dt>
            <dd>Тег — это специальный символ разметки, который применяется для вставки различных
                элементов на веб-страницу таких как: рисунки, таблицы, ссылки и др., и для изменения их
                вида.
            </dd>
            <dt>Что такое HTML-документ?</dt>
            <dd>Обычный текстовый файл, который может содержать в себе текст, теги и стили. Изображения
                и другие объекты хранятся отдельно. Содержимое такого файла обычно называется HTML-код.
            </dd>
            <dt>Что такое Сайт?</dt>
            <dd>Cайт — это набор отдельных веб-страниц, которые связаны между собой ссылками и единым
                оформлением.
            </dd>
        </dl>
        <hr>
    </div>
  <div class="view-media">
    <h2>Медиа</h2>
    <h4>Youtube Iframe</h4>
    <p>Для адаптивности, тег <code>&lt;iframe&gt;</code> должен быть обёрнут в блок с классом
      <mark>.video-container</mark>
    </p>
    <small>
      <em>пример:</em>
    </small>
    <pre>
&#8249;div class="<mark>video-container</mark>"&#8250;
    <code>&#8249;iframe src="https://www.youtube.com/embed/BufRVED2YvY" frameborder="0"&#8250; &#8249;/iframe&#8250;</code>
&#8249;/div&#8250;</pre>
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/BufRVED2YvY" frameborder="0"></iframe>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est in, obcaecati nulla amet distinctio,
      sapiente itaque porro neque at laudantium temporibus quam magnam. Animi rem maxime autem quaerat,
      facilis porro doloremque aspernatur asperiores error praesentium. Aliquam odit harum, aperiam
      deleniti.</p>
  </div>
    <div class="view-table">
        <h2>Таблицы</h2>
        <table>
            <caption>caption таблици</caption>
            <tbody>
            <tr>
                <th>Заглавие таблици</th>
                <th>Заглавие таблици</th>
                <th>Заглавие таблици</th>
            </tr>
            <tr>
                <td>Cumque ut itaque deserunt soluta.</td>
                <td>Tempora alias, amet error consectetur.</td>
                <td>Lorem ipsum dolor sit amet.</td>
            </tr>
            <tr>
                <td>Atque aut maiores minima veritatis?</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Nemo possimus dolore, ipsum laborum.</td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Harum iusto, provident libero consequatur!</td>
                <td>Consequuntur obcaecati numquam, perspiciatis.</td>
            </tr>
            <tr>
                <td>Quod quidem cumque repellendus ipsam!</td>
                <td>Neque consequuntur doloribus nostrum autem.</td>
                <td>Lorem ipsum dolor sit amet.</td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Consequatur qui sunt, quaerat pariatur.</td>
                <td>Voluptas atque eum repellat cum.</td>
            </tr>
            </tbody>
        </table>
        <table class="table-zebra">
            <caption>Таблица CSS класс
                <b>"table-zebra"</b>
            </caption>
            <tbody>
            <tr>
                <th>Заглавие таблици</th>
                <th>Заглавие таблици</th>
                <th>Заглавие таблици</th>
            </tr>
            <tr>
                <td>Cumque ut itaque deserunt soluta.</td>
                <td>Tempora alias, amet error consectetur.</td>
                <td>Lorem ipsum dolor sit amet.</td>
            </tr>
            <tr>
                <td>Atque aut maiores minima veritatis?</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Nemo possimus dolore, ipsum laborum.</td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Harum iusto, provident libero consequatur!</td>
                <td>Consequuntur obcaecati numquam, perspiciatis.</td>
            </tr>
            <tr>
                <td>Quod quidem cumque repellendus ipsam!</td>
                <td>Neque consequuntur doloribus nostrum autem.</td>
                <td>Lorem ipsum dolor sit amet.</td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Consequatur qui sunt, quaerat pariatur.</td>
                <td>Voluptas atque eum repellat cum.</td>
            </tr>
            </tbody>
        </table>
        <table class="table-null">
            <caption>Таблица CSS класс
                <b>"table-null"</b>
            </caption>
            <tbody>
            <tr>
                <th>Заглавие таблици</th>
                <th>Заглавие таблици</th>
                <th>Заглавие таблици</th>
            </tr>
            <tr>
                <td>Cumque ut itaque deserunt soluta.</td>
                <td>Tempora alias, amet error consectetur.</td>
                <td>Lorem ipsum dolor sit amet.</td>
            </tr>
            <tr>
                <td>Atque aut maiores minima veritatis?</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Nemo possimus dolore, ipsum laborum.</td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Harum iusto, provident libero consequatur!</td>
                <td>Consequuntur obcaecati numquam, perspiciatis.</td>
            </tr>
            <tr>
                <td>Quod quidem cumque repellendus ipsam!</td>
                <td>Neque consequuntur doloribus nostrum autem.</td>
                <td>Lorem ipsum dolor sit amet.</td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Consequatur qui sunt, quaerat pariatur.</td>
                <td>Voluptas atque eum repellat cum.</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
