<div class="container">
  <h2>Образец bootstrap</h2>
  <h3>Перенос колонок</h3>
  <div class="row">
    <div class="col-9"><div>.col-9</div></div>
    <div class="col-4"><div>.col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div></div>
    <div class="col-6"><div>.col-6<br>Subsequent columns continue along the new line.</div></div>
  </div>
  <h3>row-cols-6</h3>
  <div class="row row-cols-6">
    <div class="col"><div>Col1</div></div>
    <div class="col"><div>col2</div></div>
    <div class="col"><div>col3</div></div>
    <div class="col"><div>col4</div></div>
    <div class="col"><div>Col5</div></div>
    <div class="col"><div>col6</div></div>
  </div>
  <h3>12 колонок</h3>
  <div class="row row-12_mobile">
    <div class="col-1"><div>col1</div></div>
    <div class="col-1"><div>col2</div></div>
    <div class="col-1"><div>col3</div></div>
    <div class="col-1"><div>col4</div></div>
    <div class="col-1"><div>col5</div></div>
    <div class="col-1"><div>col6</div></div>
    <div class="col-1"><div>col7</div></div>
    <div class="col-1"><div>col8</div></div>
    <div class="col-1"><div>col9</div></div>
    <div class="col-1"><div>col10</div></div>
    <div class="col-1"><div>col11</div></div>
    <div class="col-1"><div>col12</div></div>
  </div>
  <h3>Адаптивность</h3>
  <div class="row">
    <div class="col-6 col-md-4 col-xl-3"><div>col-2 col-md-4 col-xl-3</div></div>
    <div class="col-6 col-md-4 col-xl-3"><div>col-2 col-md-4 col-xl-3</div></div>
    <div class="col-6 col-md-4 col-xl-3"><div>col-2 col-md-4 col-xl-3</div></div>
    <div class="col-6 col-md-4 col-xl-3"><div>col-2 col-md-4 col-xl-3</div></div>
  </div>
</div>
<div class="container_grid">
  <h2>То же но на grid</h2>
  <div class="grid">
    <div class="cell-9">.col-9</div>
    <div class="cell-4">.col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
    <div class="cell-6">.col-6<br>Subsequent columns continue along the new line.</div>
  </div>
  <h3>grid-cols-6</h3>
  <div class="grid grid-cols-6">
    <div class="cell"><div>Col1</div></div>
    <div class="cell"><div>col2</div></div>
    <div class="cell"><div>col3</div></div>
    <div class="cell"><div>col4</div></div>
    <div class="cell"><div>Col5</div></div>
    <div class="cell"><div>col6</div></div>
  </div>
  <h3>12 колонок</h3>
  <div class="grid row-12_mobile">
    <div class="cell-1"><div>col1</div></div>
    <div class="cell-1"><div>col2</div></div>
    <div class="cell-1"><div>col3</div></div>
    <div class="cell-1"><div>col4</div></div>
    <div class="cell-1"><div>col5</div></div>
    <div class="cell-1"><div>col6</div></div>
    <div class="cell-1"><div>col7</div></div>
    <div class="cell-1"><div>col8</div></div>
    <div class="cell-1"><div>col9</div></div>
    <div class="cell-1"><div>col10</div></div>
    <div class="cell-1"><div>col11</div></div>
    <div class="cell-1"><div>col12</div></div>
  </div>
  <h3>Адаптивность</h3>
  <div class="grid">
    <div class="cell-6 cell-md-4 cell-xl-3"><div>col-2 col-md-4 col-xl-3</div></div>
    <div class="cell-6 cell-md-4 cell-xl-3"><div>col-2 col-md-4 col-xl-3</div></div>
    <div class="cell-6 cell-md-4 cell-xl-3"><div>col-2 col-md-4 col-xl-3</div></div>
    <div class="cell-6 cell-md-4 cell-xl-3"><div>col-2 col-md-4 col-xl-3</div></div>
  </div>
</div>
