{% extends '../../index.twig' %}

{% block pageName %}page--main{% endblock %}

{% block pageContent %}
  {% include '../../blocks/grid12/grid12.twig' %}
  <div class="container">
    {% include '../../blocks/grid/grid.twig' %}
  </div>
{% endblock %}
