.section {
  padding: 50px 0;
  &--dark {
    background-color: #323232;
  }
}
.gray_background {
  background-color: darkgray;
  font-size: 20px;
}
.socials_grid {
  display: grid;
  //grid-template-columns: repeat(3, minmax(max-content, 50px)); // Тоже вариант
  grid-auto-flow: column;
  grid-auto-columns: 50px;
  grid-template-rows: 50px;
  grid-gap: 20px;
  &--min {
    //grid-template-columns: repeat(3, fit-content(50px)); // Тоже вариант
    grid-auto-columns: fit-content(50px);
  }
  &--vertical {
    grid-auto-flow: row;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: transparent;
    transition: background-color 250ms;
    &:hover {
      background-color: #2ba3e1;
    }
    svg {
      max-height: 100%;
      width: 100%;
      height: auto;
    }
  }
}
.advantage {
  display: grid;
  grid-template-rows: 95px 30px auto;
  >p {
    margin: 0;
  }
  &__title {
    font-weight: bold;
  }
}
.user_card {
  display: grid;
  grid-template-rows: auto 20px auto 1fr;
  grid-row-gap: 15px;
  >p {
    margin: 0;
  }
  &__title {
    font-weight: bold;
  }
  &__button {
    align-self: end;
  }
}
.button_bottom {
  grid-column: span 3;
  display: grid;
  grid-template-rows: 1fr;
  &__text {
    background-color: antiquewhite;
    padding-left: 30px;
  }
  //button {
  //  align-self: end;
  //}
}
.nav_bar {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-column-gap: 29px;
  list-style: none;
}
.icon_link {
  display: grid;
  grid-template-columns: 25px max-content;
  grid-template-rows: 25px;
  grid-column-gap: 10px;
  align-items: center;
  font-size: 13px;
  letter-spacing: .26px;
  line-height: 18px;
  color: #e0e0e0;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 250ms;
  &:hover {
    opacity: .7;
  }
}
