<div class="toast fade hide js--server_alert {% if mode is defined %}toast--{{ mode }}{% endif %} {% if class is defined %}{{ class }}{% endif %}" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
  <div class="toast-header">
    <div class="toast__type_message toast__type_message--alert"></div>
    <strong class="mr-auto">{% if title is defined %}{{ title }}{% endif %}</strong>
    <small class="ml-2 js--toast_timer">
      <span class="js--toast_timer_less">меньше </span>
      <span class="js--toast_timer_value">1</span> минуты назад</small>
    <button type="button" class="ml-2 close" data-dismiss="index" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body js--server_alert_text">
    {% if text is defined %}{{ text }}{% endif %}
  </div>
</div>
