<section class="grid">
  <h2>Grid варианты</h2>
  <h3>Вариант через template-areas</h3>
  <div class="grid__content">
    <div class="grid__left">
      <ul>
        <li>list item</li>
        <li>list item1</li>
        <li>list item2</li>
        <li>list item3</li>
      </ul>
    </div>
    <div class="grid__center">
      <h4>Main content of grid layout</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias, aperiam at debitis doloribus earum eveniet
        ex illum impedit officiis, praesentium quam quas qui, quibusdam rem reprehenderit similique sint sunt veritatis
        voluptatum. Ea exercitationem mollitia omnis! Ducimus iste possimus saepe? Commodi culpa maiores molestiae nisi
        quas quasi qui sed sequi.</p>
      <img src="https://via.placeholder.com/728x350.png" alt="">
    </div>
    <div class="grid__bottom">
      <p class="grid__secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cum dignissimos ea
        non quis sapiente tempora veritatis voluptatum! Accusamus ad adipisci, cupiditate est fuga hic iste magnam
        pariatur quia sunt?</p>
    </div>
  </div>
  <hr>
  <h3>Вариант через column-start/end</h3>
  <div class="grid__content_v2">
    <div class="">
      <ul>
        <li>list item</li>
        <li>list item1</li>
        <li>list item2</li>
        <li>list item3</li>
      </ul>
    </div>
    <div class="grid__content_v2_center">
      <h4>Main content of grid layout</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias, aperiam at debitis doloribus earum eveniet
        ex illum impedit officiis, praesentium quam quas qui, quibusdam rem reprehenderit similique sint sunt veritatis
        voluptatum. Ea exercitationem mollitia omnis! Ducimus iste possimus saepe? Commodi culpa maiores molestiae nisi
        quas quasi qui sed sequi.</p>
      <img src="https://via.placeholder.com/728x350.png" alt="">
    </div>
    <div class="grid__content_v2_bottom">
      <p class="grid__secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cum dignissimos ea
        non quis sapiente tempora veritatis voluptatum! Accusamus ad adipisci, cupiditate est fuga hic iste magnam
        pariatur quia sunt?</p>
    </div>
  </div>
  <h3>Сложный шаблон в одноуровневой верстке</h3>
  <div class="grid__content_v3">
    <ul class="grid__content_v3_list">
      <li>list item</li>
      <li>list item1</li>
      <li>list item2</li>
      <li>list item3</li>
    </ul>
    <h4 class="grid__content_v3_title">Main content of grid layout</h4>
    <p class="grid__content_v3_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias, aperiam at
      debitis doloribus earum eveniet ex illum impedit officiis, praesentium quam quas qui, quibusdam rem reprehenderit
      similique sint sunt veritatis voluptatum. Ea exercitationem mollitia omnis! Ducimus iste possimus saepe? Commodi
      culpa maiores molestiae nisi quas quasi qui sed sequi.</p>
    <img class="grid__content_v3_img" src="https://via.placeholder.com/728x350.png" alt="">
    <div class="grid__content_v3_bottom">
      <p class="grid__secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cum dignissimos ea
        non quis sapiente tempora veritatis voluptatum! Accusamus ad adipisci, cupiditate est fuga hic iste magnam
        pariatur quia sunt?</p>
    </div>
  </div>
  <h3>Размер и количество колонок</h3>
  <h3>Сетка как bootstrap</h3>
  <p>min-height = grid-auto-rows: minmax(100px, auto)</p>
  <p>auto-fill и auto-fit. grid-template-columns: repeat(auto-fill, 200px); grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))</p>
  <h4>auto-fill: Ширина колонки 200px, колонки произвольное количество - сколько влезет по ширине</h4>
  <div class="grid__content_auto">
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col1</div>
    <div class="grid__content_auto_col">col1</div>
    <div class="grid__content_auto_col">col1</div>
    <div class="grid__content_auto_col">col1</div>
  </div>
  <hr>
  <h4>auto-fill: Тоже, но ширина колонки 200px - это минимальное значение. В итоге ширина колонки растягивается, чтобы таблица была на всю ширину</h4>
  <div class="grid__content_auto_1">
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col1</div>
    <div class="grid__content_auto_col">col1</div>
    <div class="grid__content_auto_col">col1</div>
    <div class="grid__content_auto_col">col1</div>
  </div>
  <hr>
  <h4>auto-fill: Пример если мало колонок остается место в конце строки</h4>
  <div class="grid__content_auto_1">
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
  </div>
  <hr>
  <h4>auto-fit: отличие от auto-fill, что если колонок меньши ширины  страницы, то он их растягиват</h4>
  <div class="grid__content_auto_fit">
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
  </div>
  <hr>
  <h4>auto-fit: если колонок достаточно, то поведение как и auto-fill</h4>
  <div class="grid__content_auto_fit">
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
    <div class="grid__content_auto_col">col</div>
  </div>
  <hr>
</section>
