<span class="preloader{% if mode is defined %} preloader--{{ mode }}{% endif %} js--preloader {% if class is defined %}{{ class }}{% endif %}">
    <span class="preloader__item">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </span>
</span>
