@import '~normalize.css';
@import 'variables';

//Reset and base style
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
button {
  cursor: pointer;
}
textarea,
select,
input[type='text'],
input[type='button'],
input[type='submit'] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
body {
  min-width: $body-min-width;
  font-size: $font-size-body;
  font-family: $font-family-primary;
  font-weight: 300;
  font-style: normal;
  &.body--overflow {
    overflow: hidden;
    height: 100%;
  }
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
