.forms_element {
  label {
    margin-bottom: 0;
    font-size: 14px;
    width: 100%;
  }
  &.required label span:after {
    content: '*';
  }
  &__button_margin {
    min-height: 24px;
  }
  &__message {
    margin-top: 2px;
    min-height: 12px;
    font-size: 12px;
    font-weight: bold;
    color: $danger;
    line-height: 1;
    .error {
      font-size: inherit;
      color: inherit;
      line-height: inherit;
    }
  }
  &--ok {
    &__input,
    input {
      border-color: $success;
    }
    .error--server {
      display: none;
    }
  }
  &--error {
    &__input,
    input {
      border-color: $danger;
    }
    .error--server {
      display: none;
    }
  }
}
