{% extends '@App/index.twig' %}

{% block pageName %}page--typography{% endblock %}

{% block pageContent %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                  data-target="#pagination" aria-expanded="true" aria-controls="pagination">
            Пагинация
          </button>
        </h2>
      </div>

      <div id="pagination" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          {% include '@App/components/pagination/pagination.twig' %}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                  data-target="#responsive_table" aria-expanded="false" aria-controls="responsive_table">
            Адаптивные таблицы
          </button>
        </h2>
      </div>
      <div id="responsive_table" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
{#          {% include '../../blocks/responsive_table/responsive_table.twig' with {#}
{#            'responsive': 'md',#}
{#            'settings': [#}
{#              {#}
{#                name: 'time',#}
{#                title: 'Дата и время помещения',#}
{#                type: 'dataAndTime'#}
{#              },#}
{#              {#}
{#                name: 'status',#}
{#                title: 'Статус',#}
{#                type: 'badge',#}
{#              },#}
{#              {#}
{#                name: 'specialty',#}
{#                title: 'Специальность',#}
{#                type: 'text'#}
{#              },#}
{#            ],#}
{#            'data': [#}
{#              {#}
{#                time: '10.05.2020 15:30',#}
{#                status: { text: 'Отменено', mode: 'danger' },#}
{#                specialty: 'Хирург',#}
{#              },#}
{#              {#}
{#                time: '10.05.2020 15:30',#}
{#                status: { text: 'Выполнено', mode: 'success' },#}
{#                specialty: 'Хирург',#}
{#              },#}
{#              { time: '10.05.2020 15:30', status: { text: 'Оплачено', mode: 'info' }, specialty: 'Хирург' },#}
{#              { time: '10.05.2020 15:30', status: { text: 'Отменено', mode: 'danger' }, specialty: 'Хирург' },#}
{#              { time: '10.05.2020 15:30', status: { text: 'Выполнено', mode: 'success' }, specialty: 'Хирург' },#}
{#            ],#}
{#          } %}#}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                  data-target="#typography" aria-expanded="false" aria-controls="responsive_table">
            Типография
          </button>
        </h2>
      </div>
      <div id="typography" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          {% include '../../components/typography/typography.twig' %}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                  data-target="#forms" aria-expanded="false" aria-controls="responsive_table">
            Формы
          </button>
        </h2>
      </div>
      <div id="forms" class="collapse" data-parent="#accordionExample">
        <div class="card-body">
          {% include '../../blocks/forms/exemple.twig' %}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                  data-target="#preloader" aria-expanded="false" aria-controls="responsive_table">
            Preloader
          </button>
        </h2>
      </div>
      <div id="preloader" class="collapse" data-parent="#accordionExample">
        <div class="card-body">
          <div class="position-relative">
            {% include '../../components/preloader/preloader.twig' with { 'class': 'd-block' } %}
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                  data-target="#toast" aria-expanded="false" aria-controls="responsive_table">
            Toast
          </button>
        </h2>
      </div>
      <div id="toast" class="collapse" data-parent="#accordionExample">
        <div class="card-body">
          <div class="position-relative">
            {% include '../../components/toast/toast.twig' with {
              'class': 'show d-block',
              'mode': 'static',
              'title': 'Title',
              'text': 'Text'
            } %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
